{% extends "layout.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'projects:project_new' %}">생성하기</a>
    {% endif %}
    <div class="list-group list-group-horizontal">
        {% for project in projects %}
            <a href="/projects/{{ project.pk }}/" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ project.intro }} </h5>
                    <small>{{ project.created_at }}</small>
                </div>
                <p class="mb-1"> hi</p>
                <small>hi</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}